<html>
<body>
<form action="/" method = "POST">
    <p>sepalLength <input type = "float" name = "sepalLength" /></p>
    <p>sepalWidth <input type = "float" name = "sepalWidth" /></p>
    <p>petalLength <input type = "float" name = "petalLength" /></p>
	<p>petalWidth <input type = "float" name = "petalWidth" /></p>
    <p><input type = "submit" value = "Make Prediction" /></p>
</form>
<form action="/database" method = "GET">
        <p><input type = "submit" value = "View last 50 predictions" /></p>
</form>
</body>
<html>